<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" th:href="@{/img/apple-icon.png}">
  <link rel="icon" type="image/png" th:href="@{/img/favicon.png}">
  <title>POS</title>
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" th:href="@{/css/ggle-fonts.css}" />
  <!-- Nucleo Icons -->
  <link th:href="@{/css/nucleo-icons.css}" rel="stylesheet" />
  <script rel="stylesheet"  th:src="@{/webjars/font-awesome/5.15.3/js/all.js}"></script>
  <!-- Material Icons -->
  <link rel="stylesheet" th:href="@{webjars/material-design-icons/4.0.0/material-icons.css}">
  <link rel="stylesheet" th:href="@{webjars/bootstrap/5.1.1/css/bootstrap.css}">
  <link th:href="@{/css/material-icons-round.css}" rel="stylesheet">
  <!-- CSS Files -->
  <link id="pagestyle" th:href="@{/css/material-dashboard.min.css}" rel="stylesheet" />
  <link  th:href="@{/css/custom-material-dashboard.css}" rel="stylesheet" type="text/css"/>
  <link  th:href="@{/css/keyboard.css}" rel="stylesheet" />
  <!-- Anti-flicker snippet (recommended)  -->
  <style>
    html,
    body {
      height: 100%;
    }
  </style>
</head>

<body class="g-sidenav-show  bg-gray-200">
  <aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3   bg-gradient-dark" id="sidenav-main">
    <div class="sidenav-header">
      <i class="fas fa-times p-3 cursor-pointer text-white opacity-5 position-absolute end-0 top-0 d-none d-xl-none" aria-hidden="true" id="iconSidenav"></i>
      <a class="navbar-brand m-0" href=" https://demos.creative-tim.com/material-dashboard-pro/pages/dashboards/analytics.html " target="_blank">
        <img th:src="@{/img/logo-ct.png}" class="navbar-brand-img h-100" alt="main_logo">
        <span class="ms-1 font-weight-bold text-white">S-POZ</span>
      </a>
    </div>
    <hr class="horizontal light mt-0 mb-2">
    <div class="collapse navbar-collapse  w-auto h-auto" id="sidenav-collapse-main">
      <ul class="navbar-nav">
        <li class="nav-item mb-2 mt-0">
          <a data-bs-toggle="collapse" href="#ProfileNav" class="nav-link text-white" aria-controls="ProfileNav" role="button" aria-expanded="false">
<!--           <img th:src="@{/img/team-3.jpg}" class="avatar">-->
            <div class="img-text" style="min-width: 35px;height:35px; border-radius:50%;"><i class="material-icons" style="font-size:16px;padding:0px;color:#ffffff">AD</i></div>
            <span class="nav-link-text ms-2 ps-1" th:text="${user.username}"></span>
          </a>
          <div class="collapse" id="ProfileNav" style="">
            <ul class="nav ">
              <li class="nav-item">
                <a class="nav-link text-white" th:href="@{/}">
                  <span class="sidenav-mini-icon"> MP </span>
                  <span class="sidenav-normal  ms-3  ps-1"> My Profile </span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white " th:href="@{/}">
                  <span class="sidenav-mini-icon"> S </span>
                  <span class="sidenav-normal  ms-3  ps-1"> Settings </span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" th:href="@{/}">
                  <span class="material-icons sidenav-mini-icon">exit </span>
                  <span class="sidenav-normal  ms-3  ps-1"> Logout </span>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <hr class="horizontal light mt-0">
        <li class="nav-item">
          <a  class="nav-link text-white " th:href="@{/}" >
            <i class="material-icons-round opacity-10">dashboard</i>
            <span class="nav-link-text ms-2 ps-1">Dashboards</span>
          </a>
        </li>

        <li class="nav-item">
          <a  class="nav-link text-white" th:href="@{/}">
            <i class="material-icons-round {% if page.brand == 'RTL' %}ms-2{% else %} me-2{% endif %}">image</i>
            <span class="nav-link-text ms-2 ps-1">Pages</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" th:href="@{/}">
            <i class="material-icons-round {% if page.brand == 'RTL' %}ms-2{% else %} me-2{% endif %}">apps</i>
            <span class="nav-link-text ms-2 ps-1">Applications</span>
          </a>
        </li>
        <li class="nav-item">
          <a  class="nav-link text-white active" th:href="@{/}">
            <i class="material-icons-round {% if page.brand == 'RTL' %}ms-2{% else %} me-2{% endif %}">shopping_basket</i>
            <span class="nav-link-text ms-2 ps-1">Ecommerce</span>
          </a>
        </li>
        <li class="nav-item">
          <a  class="nav-link text-white " th:href="@{/}">
            <i class="material-icons-round {% if page.brand == 'RTL' %}ms-2{% else %} me-2{% endif %}">content_paste</i>
            <span class="nav-link-text ms-2 ps-1">Authentication</span>
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link text-white " aria-controls="basicExamples" th:href="@{/}">
            <i class="material-icons-round {% if page.brand == 'RTL' %}ms-2{% else %} me-2{% endif %}">upcoming</i>
            <span class="nav-link-text ms-2 ps-1">Basic</span>
          </a>
        </li>
      </ul>
    </div>
  </aside>
  <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg " style="min-height: 100%">
    <div class="main-right-bar-container">
      <div class="category-main-container">
        <div class="category-main-wrapper">
          <nav class="navbar navbar-main navbar-expand-lg position-sticky mt-4 top-1 px-0 mx-4 shadow-none border-radius-xl z-index-sticky" id="navbarBlur" data-scroll="true">
            <div class="container-fluid py-1 px-3">
              <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
                <div class="ms-md-auto pe-md-3 d-flex align-items-center">
                  <div class="input-group input-group-outline">
                    <label class="form-label">Search</label>
                    <input type="text" id="search-input" class="use-keyboard-input form-control" onfocus="focused(this)" onfocusout="defocused(this)">
                  </div>
                </div>
                <ul class="navbar-nav  justify-content-end">
                  <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
                    <a href="javascript:;" class="nav-link text-body p-0" id="iconNavbarSidenav">
                      <div class="sidenav-toggler-inner">
                        <i class="sidenav-toggler-line"></i>
                        <i class="sidenav-toggler-line"></i>
                        <i class="sidenav-toggler-line"></i>
                      </div>
                    </a>
                  </li>
                  <li class="nav-item px-3">
                    <a href="javascript:;" class="nav-link text-body p-0">
                      <i class="material-icons fixed-plugin-button-nav cursor-pointer">
                        settings
                      </i>
                    </a>
                  </li>
                  <li class="nav-item px-3">
                    <a th:href="@{/logout}" class="nav-link text-body p-0">
                      <i class="material-icons fixed-plugin-button-nav cursor-pointer">
                        logout
                      </i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
          <div class="px-2 py-2" style="display:flex;justify-content: space-between;">
            <h4 id="menu-title">Categories</h4>
            <a id="menu-back" onclick="createCategories()" class="btn btn-sm btn-outline-secondary " style="display:none">Back</a>
          </div>
          <div class="product-category-menu row px-2"></div>
        </div>
        <div class="category-main-separator"></div>
      </div>
      <div class="category-right-container">
        <div class="products-calc-wrapper">
          <div class="table-responsive  product-table card p-0">
            <table class="table align-items-center mb-0">
              <thead>
              <tr class=" text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                <th><span class=" text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Product</span></th>
                <th class="text-center"><span class=" text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Quantity</span></th>
                <th class="text-center"><span class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Amount</span></th>
              </tr>
              </thead>
              <tbody id="cart-table">
              </tbody>
            </table>
          </div>
          <div class="calculator-container">
            <div class="total-container"></div>
            <div class="calculator-wrapper">
              <div class="num-input-container">
                <div class="cal-num" onclick="inputCalKey('7')">7</div>
                <div class="cal-num" onclick="inputCalKey('8')">8</div>
                <div class="cal-num" onclick="inputCalKey('9')">9</div>
                <div class="cal-num" onclick="inputCalKey('4')">4</div>
                <div class="cal-num" onclick="inputCalKey('5')">5</div>
                <div class="cal-num" onclick="inputCalKey('6')">6</div>
                <div class="cal-num" onclick="inputCalKey('1')">1</div>
                <div class="cal-num" onclick="inputCalKey('2')">2</div>
                <div class="cal-num" onclick="inputCalKey('3')">3</div>
                <div class="cal-num"><span class="material-icons" onclick="calcBackSpace()">backspace</span></div>
                <div class="cal-num" onclick="inputCalKey('0')">0</div>
                <div class="cal-num" onclick="inputCalKey('.')">.</div>
              </div>
              <div class="total-paid-bal-container ">
                <div class="card mb-1" style="padding:5px;">
                    <div class="total-paid-container">
                      <div class="mb-1 text-dark text-lg font-weight-bold">Total</div>
                      <div id="cart-total" class="d-flex align-items-center text-dark text-gradient text-lg font-weight-bold">
                        0.00
                      </div>
                    </div>
                    <div class="total-paid-container">
                      <div class="mb-1 text-dark text-lg font-weight-bold">Cash</div>
                      <div id="cash-payment" class="d-flex align-items-center text-dark text-gradient text-lg font-weight-bold">
                        0.00
                      </div>
                    </div>
                    <div class="total-paid-container">
                      <div class="mb-1 text-dark text-lg font-weight-bold">Balance</div>
                      <div id="cash-balance" class="d-flex align-items-center text-success text-gradient text-lg font-weight-bold">
                        0.00
                      </div>
                    </div>
                </div>
                <div class="mt-2" style="width:100%;">
                  <div style="display:flex;justify-content:space-between;">
                    <button type="button" class="btn btn-info"  style="width:107px">Pay</button>
                    <button type="button" class="btn btn-danger" style="width:107px">Cancel</button>
                  </div>
                  <div style="display:flex;justify-content:space-between;">
                    <button type="button" class="btn btn-secondary" style="width:107px">Discount</button>
                    <button type="button" class="btn btn-success" style="width:107px">Onhold</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <div class="position-fixed bottom-1 end-1 z-index-2">
    <div class="toast fade hide p-2 mt-2 bg-gradient-success" role="alert" aria-live="assertive" id="successToast" aria-atomic="true">
      <div class="toast-header bg-transparent border-0">
        <i class="material-icons text-white me-2">
          check_circle
        </i>
        <span class="me-auto text-white font-weight-bold">Success</span>
        <i class="fas fa-times text-md text-white ms-3 cursor-pointer" data-bs-dismiss="toast" aria-label="Close"></i>
      </div>
      <hr class="horizontal light m-0">
      <div class="toast-body text-white" id="success-toast-message">

      </div>
    </div>
    <div class="toast fade hide p-2 mt-2 bg-gradient-danger" role="alert" aria-live="assertive" id="errorToast" aria-atomic="true">
      <div class="toast-header bg-transparent border-0">
        <i class="material-icons text-white me-2">
          error
        </i>
        <span class="me-auto text-white font-weight-bold">Error</span>

        <i class="fas fa-times text-md text-white ms-3 cursor-pointer" data-bs-dismiss="toast" aria-label="Close"></i>
      </div>
      <hr class="horizontal light m-0">
      <div class="toast-body text-white" id="error-toast-message">

      </div>
    </div>
  </div>

  <div class="fixed-plugin">
    <div class="card shadow-lg">
      <div class="card-header pb-0 pt-3">
        <div class="float-start">
          <h5 class="mt-3 mb-0">Settings</h5>
        </div>
      </div>
      <div class="row gx-4 mb-2 mt-2">
        <div class="col-auto">
          <div class="avatar avatar-xl position-relative">
            <div class="border-radius-lg shadow-sm img-text" style="width: 60px;height:60px;"><i class="material-icons" style="font-size:28px;padding:0px;">AD</i></div>
<!--            <img src="/img/team-3.jpg" alt="profile_image" class="w-100 border-radius-lg shadow-sm">-->
          </div>
        </div>
        <div class="col-auto my-auto">
          <div class="h-80">
            <h5 class="mb-1" th:text="${user.username}"></h5>
          </div>
        </div>
        <div class="col-12 mt-1 mb-1" style="display:flex;justify-content: center;width:100%">
          <button class="btn bg-gradient-primary mb-0 ms-2text-uppercase text-white text-xxs font-weight-bolder " type="button" name="button" onclick="openModal('lock-modal')">Update Password</button>
        </div>
      </div>
      <hr>
      <hr class="horizontal dark my-1">
      <div class="card-body pt-sm-3 pt-0">
        <hr class="horizontal dark my-3">
        <div class="mt-2 d-flex">
          <h6 class="mb-0">Minimize SideNav</h6>
          <div class="form-check form-switch ps-0 ms-auto my-auto">
            <input class="form-check-input mt-1 ms-auto" type="checkbox" id="navbarMinimize" onclick="navbarMinimize(this)">
          </div>
        </div>
        <hr class="horizontal dark my-3">
        <div class="mt-2 d-flex">
          <h6 class="mb-0">Light / Dark</h6>
          <div class="form-check form-switch ps-0 ms-auto my-auto">
            <input class="form-check-input mt-1 ms-auto" type="checkbox" id="dark-version" onclick="darkMode(this)">
          </div>
        </div>
        <hr class="horizontal dark my-sm-4">
          <div class="mt-2 d-flex">
              <h6 class="mb-0">Touch Mode</h6>
              <div class="form-check form-switch ps-0 ms-auto my-auto">
                  <input class="form-check-input mt-1 ms-auto" type="checkbox" id="touch-version" onclick="touchMode(this)">
              </div>
          </div>
          <hr class="horizontal dark my-sm-4">
      </div>
    </div>
  </div>

  <div class="modal fade" id="add-product-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add Product to Cart</h5>
          <button type="button" class=" btn  btn-link" onclick="closeModal('add-product-modal')">
            <span class="material-icons text-dark" style="">close</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="add-product-container">
              <div class="add-product-image-container">
                <img src="" alt="" class="img-fluid pe-3 " id="add-prod-img" style="height:110px">
              </div>
              <div class="add-product-wrapper">
                <div class="d-flex mb-4">
                  <div class="d-flex align-items-center">
                    <div class="d-flex flex-column">
                      <h6 class="mb-1 text-dark text-sm">Name</h6>
                      <span class="text-xs" id="add-prod-name"></span>
                    </div>
                  </div>
                  <div class="d-flex align-items-center text-success text-gradient text-sm font-weight-bold ms-auto pt-4" id="add-prod-price">
                  </div>
                </div>
                <div class="input-group input-group-outline mb-4 focused is-focused">
                  <label class="form-label">Quantity</label>
                  <input type="text" class="form-control focused" id="add-prod-quantity">
                </div>
              </div>
            </div>
            <div style="width:100%;display:flex;justify-content: end">
              <button type="button" class="btn btn-secondary" onclick="closeModal('add-product-modal')">Close</button>
              <button type="button" class="btn btn-primary" style="margin-left:25px;" onclick="submitProductToCart()">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel" id="lock-modal">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-body" >
          <div style="display:flex;justify-content: center;margin-top:-70px">
            <a href="#pablo">
              <img class="avatar" style="height:100px;width: 80px" src="" alt="...">
            </a>
          </div>
          <form id="lock-form">
            <div class="row">
              <div class="col-md-12" style="display: flex;justify-content:center;">
                <h4 class="card-title" th:text="${user.username}"></h4>
              </div>
              <div class="col-md-12">
                <div class="input-group input-group-dynamic mb-3">
                  <label class="form-label">Current Password</label>
                  <input type="text" class="form-control" id="current-password" onfocus="focused(this)" onfocusout="defocused(this)" required>
                </div>
                <div class="input-group input-group-dynamic mb-3">
                  <label class="form-label">New Password <small> (minimum 4 characters)</small></label>
                  <input type="text" id="new-password" class="form-control secure" autocomplete="off" onfocus="focused(this)" onfocusout="defocused(this)" required>
                </div>
                <div class="input-group input-group-dynamic mb-3">
                  <label class="form-label">Confirm New Password</label>
                  <input type="text" id="confirm-password" class="form-control secure" autocomplete="off" onfocus="focused(this)" onfocusout="defocused(this)" required>
                </div>
              </div>
              <div class="col-md-12" style="display: flex;justify-content: center">
                <button  id="submit-password" class="btn btn-primary btn-round" style="color:#ffffff">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

</body>
  <!--   Core JS Files   -->
  <script th:src="@{/js/core/popper.min.js}"></script>
  <script th:src="@{webjars/bootstrap/5.1.1/js/bootstrap.js}"></script>
  <script th:src="@{webjars/jquery/3.6.0/jquery.js}"></script>
  <script th:src="@{/js/plugins/perfect-scrollbar.min.js}"></script>
  <script th:src="@{/js/plugins/smooth-scrollbar.min.js}"></script>
  <script th:src="@{/js/plugins/choices.min.js}"></script>
  <script th:src="@{/js/plugins/quill.min.js}"></script>
  <script th:src="@{/js/plugins/dragula/dragula.min.js}"></script>
  <script th:src="@{/js/plugins/jkanban/jkanban.js}"></script>
  <script th:src="@{/js/plugins/sweetalert.min.js}"></script>
  <!-- Github buttons -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
  <script th:src="@{/js/material-dashboard.min.js}"></script>
  <script th:src="@{/js/plugins/keyboard.js}"></script>
  <script>
    document.getElementById('navbarMinimize').click();
   function closeKeyBoard(){
       document.getElementsByClassName('keyboard')[0].classList.add("keyboard--hidden");
   }

  </script>
  <script th:inline="javascript">
    var categories = [[${categories}]];
    var customers = [[${customers}]];
    var user =[[${user}]]
  </script>
  <script>
    var products = []
    var cart = []
    let currentProduct;
    let calcNumber = "";
    const cartTable=document.getElementById('cart-table');
    if(user.userSetting.touchScreen){
      document.getElementsById('touch-version')
    }
    if(user.userSetting.darkMode){
      document.getElementsById('dark-version')
    }
    if(user.userSetting.sideNavMin){
      document.getElementById('navbarMinimize')
    }
    const productCategoryMenu = document.querySelector('.product-category-menu');
    for(let cat of categories){
      for(let prod of cat.products){
        products.push(prod);
      }
    }
    createCategories();
    var barcode = "";
    var interval;
    document.addEventListener('keydown',function(evt) {
      if (interval){
        clearInterval(interval);
      }
      if (evt.code == 'Enter') {
        if (barcode){handleBarcode(barcode);}
        barcode = "";
        return;
      }
      if (evt.key != "Shift"){
        barcode += evt.key;
        interval = setInterval(() => barcode = "", 20);
      }
    });



    document.getElementById('search-input').addEventListener('keyup',(e)=>{
      const value = document.getElementById('search-input').value;
      let filteredProducts = products.filter((p) => (p.name.toLowerCase().includes(value.toLowerCase()) | (p.barCodeSerial.includes(value))))
      document.getElementById('menu-back').style.display = 'block';
      if(filteredProducts.length>1){
        productCategoryMenu.innerHTML="";
        for(let prod of filteredProducts){
          const prodTemplate =  document.createElement('div');
          let imgPath = `/products-upload/${prod.mainImage.name}`;
          prodTemplate.className="col-md-3 col-sm-4"
          prodTemplate.innerHTML =`<div class = "d-flex align-items-start justify-content-start">
              <img src = "${imgPath}" alt = "" class = "img-fluid pe-3 " style="height:80px">
          <div>
            <p class = "mb-0">${prod.name}</p>
            <span>ksh ${prod.price}</span>
          </div>
        </div>`;
          prodTemplate.onclick=function(){addProductToCart(prod.id)};
          productCategoryMenu.appendChild(prodTemplate);
        }
      }
      else{
        createCategories();
      }
    });

    function handleBarcode(scanned_barcode){
      addToCartByBarcode(scanned_barcode);
    }

    function createCategories(){
      document.getElementById('menu-title').innerText = 'Categories';
      document.getElementById('menu-back').style.display = 'none';
      productCategoryMenu.innerHTML="";
      for(let cat of categories){
        const categoryTemplate =  document.createElement('div');
        categoryTemplate.className="col-md-3 col-sm-4 px-1 pb-1"
        categoryTemplate.innerHTML =`<div class="card border rounded-0" onclick="createProductCategory(${cat.id})" style="aspect-ratio: 1/1;"><div style="height:100%;display: inline-flex;align-items: center;justify-content: center;"><h5 class="font-weight-bolder mb-0">${cat.name}</h5></div></div>`;
        productCategoryMenu.appendChild(categoryTemplate);
      }
    }

    function createProductCategory(catId){
      productCategoryMenu.innerHTML=``;
      let category;
      for(let cat of categories){
        if(cat.id === catId){
          category = cat;
        }
      }
      document.getElementById('menu-back').style.display = 'block';
      document.getElementById('menu-title').innerText=`Products (${category.name})`;
      for(let prod of category.products){
        const prodTemplate =  document.createElement('div');
        let imgPath = `/products-upload/${prod.mainImage.name}`;
        prodTemplate.className="col-md-3 col-sm-4"
        prodTemplate.innerHTML =`<div class = "d-flex align-items-start justify-content-start">
              <img src = "${imgPath}" alt = "" class = "img-fluid pe-3 " style="height:80px">
          <div>
            <p class = "mb-0">${prod.name}</p>
            <span>ksh ${prod.price}</span>
          </div>
        </div>`;
        prodTemplate.onclick=function(){addProductToCart(prod.id)};
        productCategoryMenu.appendChild(prodTemplate);
      }
    }

    function addToCartByBarcode(barcodeSerial){
      if(cart.length>0){
        let found = false;
        for(let prod of cart){
          if(prod.barCodeSerial === barcodeSerial){
            prod.quantity= prod.quantity + 1;
            const amount = prod.price * prod.quantity;
            document.getElementById(`prod-${prod.id}`).children[1].children[0].innerText= prod.quantity;
            document.getElementById(`prod-${prod.id}`).children[2].children[0].innerText= `ksh ${amount.toFixed(2)}`;
            found= true;
            break;
          }
        }
        if(!found){
          for(let prod of products){
            if(prod.barCodeSerial === barcodeSerial){
              let myProd = createProd(prod)
              addProdToCartTemplate(myProd);
              cart.push(myProd);
            }
          }
        }
      }
      else{
        for(let prod of products){
          if(prod.barCodeSerial === barcodeSerial){
            let myProd = createProd(prod)
            addProdToCartTemplate(myProd);
            cart.push(myProd);
          }
        }
      }
      const total =  addCart();
      document.getElementById('cart-total').innerHTML=`${total.toFixed(2)}`;
    }

    function addCart(){
      let total = 0;
      for(let prod of cart){
        total =  total + (prod.quantity * prod.price);
      }
      return total;
    }

    function createProd(prod){
      return{
              id:prod.id,
              name:prod.name,
              price :prod.price,
              quantity :1,
              barCodeSerial : prod.barCodeSerial,
            }
    }

    function addProdToCartTemplate(prod){
      const row = document.createElement('tr');
      const amount  =  prod.quantity * prod.price;
      row.id = `prod-${prod.id}`;
      row.innerHTML = `<td>
                        <div class="d-flex px-3 py-1">
                          <h6 class="mb-0 text-sm">${prod.name}</h6>
                        </div>
                        </td>
                        <td>
                          <p class="text-center text-sm font-weight-normal mb-0">${prod.quantity}</p>
                        </td>
                        <td class="align-middle text-center text-sm">
                          <p class="text-sm font-weight-normal mb-0">ksh ${amount.toFixed(2)}</p>
                        </td>`;
      cartTable.append(row);
    }

    function addProductToCart(id){
      const name= document.getElementById('add-prod-name');
      const quantity= document.getElementById('add-prod-quantity');
      const price= document.getElementById('add-prod-price');
      const img= document.getElementById('add-prod-img');
      let product =null;
      for(let prod of products){
        if(prod.id === id){
          product= prod;
        }
      }
      if(product != null){
        currentProduct = product;
        name.innerHTML= product.name;
        quantity.value = '1';
        price.innerHTML = `ksh ${product.price}`;
        img.src=`products-upload/${product.mainImage.name}`;
      }
      name.disabled = true;
      $('#add-product-modal').modal('show');
    }

    function submitProductToCart(){
      let myProd = createProd(currentProduct)
      addProdToCartTemplate(myProd);
      cart.push(myProd);
      const total =  addCart();
      document.getElementById('cart-total').innerHTML=`${total.toFixed(2)}`;
      $('#add-product-modal').modal('hide');
    }

    function addCash(){

    }
    function inputCalKey(number){
      calcNumber =  calcNumber + number;
      document.getElementById('cash-payment').innerHTML = calcNumber;
    }

    function calcBackSpace(){
      calcNumber = calcNumber.slice(0, -1);
      document.getElementById('cash-payment').innerHTML = calcNumber;
    }

    function closeModal(id){
      $(`#${id}`).modal('hide');
    }

    function openModal(id){
      $(`#${id}`).modal('show');
    }

    function touchMode(){
      const textInput = document.querySelectorAll("input[type=text]");
      const textArea = document.getElementsByTagName('textarea');
      const formdata = new FormData();
      fetch('/user/touch',{
        method:'POST',
        body:formData
      })
    }
  </script>
<script>
  var win = navigator.platform.indexOf('Win') > -1;
  if (win && document.querySelector('#sidenav-scrollbar')) {
    var options = {
      damping: '0.5'
    }
    Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
  }
</script>
</html>