<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" th:href="@{/img/apple-icon.png}">
  <link rel="icon" type="image/png" th:href="@{/img/favicon.png}">
  <title>
   Products
  </title>
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" th:href="@{/css/ggle-fonts.css}" />
  <!-- Nucleo Icons -->
  <link th:href="@{/css/nucleo-icons.css}" rel="stylesheet" />
  <script rel="stylesheet"  th:src="@{/webjars/font-awesome/5.15.3/js/all.js}"></script>
  <!-- Material Icons -->
  <link rel="stylesheet" th:href="@{/webjars/material-design-icons/4.0.0/material-icons.css}">
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.1/css/bootstrap.css}">
  <link th:href="@{/css/material-icons-round.css}" rel="stylesheet">
  <!-- CSS Files -->
  <link id="pagestyle" th:href="@{/css/material-dashboard.min.css}" rel="stylesheet" />
  <link  th:href="@{/css/custom-material-dashboard.css}" rel="stylesheet" type="text/css"/>
  <link th:href="@{/webjars/datatables/1.11.4/css/jquery.dataTables.css}" rel="stylesheet">
  <link  th:href="@{/css/keyboard.css}" rel="stylesheet" />
  <!-- Anti-flicker snippet (recommended)  -->
  <style>
    html,
    body {
      height: 100%;
    }
  </style>
</head>
<body class="g-sidenav-show  bg-gray-200">

<aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3   bg-gradient-dark" id="sidenav-main">
  <div class="sidenav-header">
    <i class="fas fa-times p-3 cursor-pointer text-white opacity-5 position-absolute end-0 top-0 d-none d-xl-none" aria-hidden="true" id="iconSidenav"></i>
    <a class="navbar-brand m-0" href=" https://demos.creative-tim.com/material-dashboard-pro/pages/dashboards/analytics.html " target="_blank">
      <img th:src="@{/img/logo-ct.png}" class="navbar-brand-img h-100" alt="main_logo">
      <span class="ms-1 font-weight-bold text-white">S-POZ</span>
    </a>
  </div>
  <hr class="horizontal light mt-0 mb-2">
  <div class="collapse navbar-collapse  w-auto h-auto" id="sidenav-collapse-main">
    <ul class="navbar-nav">
      <li class="nav-item mb-2 mt-0">
        <a data-bs-toggle="collapse" href="#ProfileNav" class="nav-link text-white" aria-controls="ProfileNav" role="button" aria-expanded="false">
          <img th:src="@{/img/team-3.jpg}" class="avatar">
          <span class="nav-link-text ms-2 ps-1">Brooklyn Alice</span>
        </a>
        <div class="collapse" id="ProfileNav" style="">
          <ul class="nav ">
            <li class="nav-item">
              <a class="nav-link text-white" th:href="@{/}">
                <span class="sidenav-mini-icon"> MP </span>
                <span class="sidenav-normal  ms-3  ps-1"> My Profile </span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white " th:href="@{/}">
                <span class="sidenav-mini-icon"> S </span>
                <span class="sidenav-normal  ms-3  ps-1"> Settings </span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" th:href="@{/}">
                <span class="material-icons sidenav-mini-icon">exit </span>
                <span class="sidenav-normal  ms-3  ps-1"> Logout </span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <hr class="horizontal light mt-0">
      <li class="nav-item">
        <a  class="nav-link text-white " th:href="@{/}" >
          <i class="material-icons-round opacity-10">dashboard</i>
          <span class="nav-link-text ms-2 ps-1">Dashboards</span>
        </a>
      </li>

      <li class="nav-item">
        <a  class="nav-link text-white" th:href="@{/}">
          <i class="material-icons-round {% if page.brand == 'RTL' %}ms-2{% else %} me-2{% endif %}">image</i>
          <span class="nav-link-text ms-2 ps-1">Pages</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" th:href="@{/}">
          <i class="material-icons-round {% if page.brand == 'RTL' %}ms-2{% else %} me-2{% endif %}">apps</i>
          <span class="nav-link-text ms-2 ps-1">Applications</span>
        </a>
      </li>
      <li class="nav-item">
        <a  class="nav-link text-white active" th:href="@{/}">
          <i class="material-icons-round {% if page.brand == 'RTL' %}ms-2{% else %} me-2{% endif %}">shopping_basket</i>
          <span class="nav-link-text ms-2 ps-1">Ecommerce</span>
        </a>
      </li>
      <li class="nav-item">
        <a  class="nav-link text-white " th:href="@{/}">
          <i class="material-icons-round {% if page.brand == 'RTL' %}ms-2{% else %} me-2{% endif %}">content_paste</i>
          <span class="nav-link-text ms-2 ps-1">Authentication</span>
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link text-white " aria-controls="basicExamples" th:href="@{/}">
          <i class="material-icons-round {% if page.brand == 'RTL' %}ms-2{% else %} me-2{% endif %}">upcoming</i>
          <span class="nav-link-text ms-2 ps-1">Basic</span>
        </a>
      </li>
    </ul>
  </div>
</aside>
  <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">

    <nav class="navbar navbar-main navbar-expand-lg position-sticky mt-4 top-1 px-0 mx-4 shadow-none border-radius-xl z-index-sticky" id="navbarBlur" data-scroll="true">
          <div class="container-fluid py-1 px-3">
            <div class="sidenav-toggler sidenav-toggler-inner d-xl-block d-none btn btn-white" style="margin-top:20px;background: #fff;height:40px; padding-top:13px; padding-left:10px;border:solid 1px #9d9fa6; display:flex;justify-content:center;width:40px;border-radius: 50%">
              <a href="javascript:;" class="nav-link text-body p-0">
                <div class="sidenav-toggler-inner">
                  <i class="sidenav-toggler-line"></i>
                  <i class="sidenav-toggler-line"></i>
                  <i class="sidenav-toggler-line"></i>
                </div>
              </a>
            </div>
            <nav aria-label="breadcrumb" style="margin-left:10px;">
              <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
                <li class="breadcrumb-item text-sm">
                  <a class="opacity-3 text-dark" href="javascript:;">
                    <svg width="12px" height="12px" class="mb-1" viewBox="0 0 45 40" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                      <title>shop </title>
                      <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g transform="translate(-1716.000000, -439.000000)" fill="#252f40" fill-rule="nonzero">
                          <g transform="translate(1716.000000, 291.000000)">
                            <g transform="translate(0.000000, 148.000000)">
                              <path d="M46.7199583,10.7414583 L40.8449583,0.949791667 C40.4909749,0.360605034 39.8540131,0 39.1666667,0 L7.83333333,0 C7.1459869,0 6.50902508,0.360605034 6.15504167,0.949791667 L0.280041667,10.7414583 C0.0969176761,11.0460037 -1.23209662e-05,11.3946378 -1.23209662e-05,11.75 C-0.00758042603,16.0663731 3.48367543,19.5725301 7.80004167,19.5833333 L7.81570833,19.5833333 C9.75003686,19.5882688 11.6168794,18.8726691 13.0522917,17.5760417 C16.0171492,20.2556967 20.5292675,20.2556967 23.494125,17.5760417 C26.4604562,20.2616016 30.9794188,20.2616016 33.94575,17.5760417 C36.2421905,19.6477597 39.5441143,20.1708521 42.3684437,18.9103691 C45.1927731,17.649886 47.0084685,14.8428276 47.0000295,11.75 C47.0000295,11.3946378 46.9030823,11.0460037 46.7199583,10.7414583 Z"></path>
                              <path d="M39.198,22.4912623 C37.3776246,22.4928106 35.5817531,22.0149171 33.951625,21.0951667 L33.92225,21.1107282 C31.1430221,22.6838032 27.9255001,22.9318916 24.9844167,21.7998837 C24.4750389,21.605469 23.9777983,21.3722567 23.4960833,21.1018359 L23.4745417,21.1129513 C20.6961809,22.6871153 17.4786145,22.9344611 14.5386667,21.7998837 C14.029926,21.6054643 13.533337,21.3722507 13.0522917,21.1018359 C11.4250962,22.0190609 9.63246555,22.4947009 7.81570833,22.4912623 C7.16510551,22.4842162 6.51607673,22.4173045 5.875,22.2911849 L5.875,44.7220845 C5.875,45.9498589 6.7517757,46.9451667 7.83333333,46.9451667 L19.5833333,46.9451667 L19.5833333,33.6066734 L27.4166667,33.6066734 L27.4166667,46.9451667 L39.1666667,46.9451667 C40.2482243,46.9451667 41.125,45.9498589 41.125,44.7220845 L41.125,22.2822926 C40.4887822,22.4116582 39.8442868,22.4815492 39.198,22.4912623 Z"></path>
                            </g>
                          </g>
                        </g>
                      </g>
                    </svg>
                  </a>
                </li>
                <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" th:href="@{/admin/product}">Products</a></li>
              </ol>
              <h6 class="font-weight-bolder mb-0">Products</h6>
            </nav>
            <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
              <div class="ms-md-auto pe-md-3 d-flex align-items-center">
                <div class="input-group input-group-outline">
                  <label class="form-label">Search here</label>
                  <input type="text" class="form-control use-keyboard-input">
                </div>
              </div>
              <ul class="navbar-nav  justify-content-end">
                <li class="nav-item">
                  <a href="../../../pages/authentication/signin/illustration.html" class="nav-link text-body p-0 position-relative" target="_blank">
                    <i class="material-icons me-sm-1">
                  account_circle
                </i>
                  </a>
                </li>
                <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
                  <a href="javascript:;" class="nav-link text-body p-0" id="iconNavbarSidenav">
                    <div class="sidenav-toggler-inner">
                      <i class="sidenav-toggler-line"></i>
                      <i class="sidenav-toggler-line"></i>
                      <i class="sidenav-toggler-line"></i>
                    </div>
                  </a>
                </li>
                <li class="nav-item px-3">
                  <a href="javascript:;" class="nav-link text-body p-0">
                    <i class="material-icons fixed-plugin-button-nav cursor-pointer">
                  settings
                </i>
                  </a>
                </li>
                <li class="nav-item dropdown pe-2">
                  <a href="javascript:;" class="nav-link text-body p-0 position-relative" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="material-icons cursor-pointer">
                  notifications
                </i>
                    <span class="position-absolute top-5 start-100 translate-middle badge rounded-pill bg-danger border border-white small py-1 px-2">
                      <span class="small">11</span>
                      <span class="visually-hidden">unread notifications</span>
                    </span>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-end p-2 me-sm-n4" aria-labelledby="dropdownMenuButton">
                    <li class="mb-2">
                      <a class="dropdown-item border-radius-md" href="javascript:;">
                        <div class="d-flex align-items-center py-1">
                          <span class="material-icons">email</span>
                          <div class="ms-2">
                            <h6 class="text-sm font-weight-normal my-auto">
                              Check new messages
                            </h6>
                          </div>
                        </div>
                      </a>
                    </li>
                    <li class="mb-2">
                      <a class="dropdown-item border-radius-md" href="javascript:;">
                        <div class="d-flex align-items-center py-1">
                          <span class="material-icons">podcasts</span>
                          <div class="ms-2">
                            <h6 class="text-sm font-weight-normal my-auto">
                              Manage podcast session
                            </h6>
                          </div>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item border-radius-md" href="javascript:;">
                        <div class="d-flex align-items-center py-1">
                          <span class="material-icons">shopping_cart</span>
                          <div class="ms-2">
                            <h6 class="text-sm font-weight-normal my-auto">
                              Payment successfully completed
                            </h6>
                          </div>
                        </div>
                      </a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </nav>
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-4">
          <div class="card">
            <div class="card-header p-3 pt-2">
              <h6 class="mb-0">Pie chart</h6>
              <p class="mb-0 text-sm">Product Categories Composition</p>
            </div>
            <div class="card-body d-flex p-3 pt-0">
              <div class="row">
                <div class="col-md-12">
                  <div class="chart" style="width:100%">
                    <canvas id="pie-chart" class="chart-canvas" height="120"></canvas>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="row">
                    <div class="col-md-6">
                       <span class="badge badge-lg badge-dot me-4 d-block text-start">
                  <i class="bg-info"></i>
                  <span class="text-dark">Facebook</span>
                </span>
                    </div>
                    <div class="col-md-6">
                      <span class="badge badge-lg badge-dot me-4 d-block text-start">
                  <i class="bg-primary"></i>
                  <span class="text-dark">Direct</span>
                </span>
                    </div>
                    <div class="col-md-6">
                      <span class="badge badge-lg badge-dot me-4 d-block text-start">
                  <i class="bg-dark"></i>
                  <span class="text-dark">Organic</span>
                </span>
                    </div>
                    <div class="col-md-6">
                      <span class="badge badge-lg badge-dot me-4 d-block text-start">
                  <i class="bg-secondary"></i>
                  <span class="text-dark">Referral</span>
                </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="card">
            <div class="card-header">
              <div class="d-lg-flex">
                <div>
                  <h5 class="mb-0">Product Categories</h5>
                </div>
                <div class="ms-auto my-auto mt-lg-0 mt-4">
                  <div class="ms-auto my-auto">
                    <button class="btn bg-gradient-primary btn-sm mb-0" data-bs-toggle="modal" data-bs-target="#add-category-modal">+&nbsp; New Category</button>
                    <div class="modal fade" id="add-Category-modal"  aria-hidden="true">
                      <div class="modal-dialog mt-lg-10">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" >Add Category</h5>
                          </div>
                          <div class="modal-body">
                            <form id="add-category-form">
                              <div class="row">
                                <div class="col-md-12">
                                  <div class="input-group input-group-dynamic mb-3">
                                    <label class="form-label">Name</label>
                                    <input type="text" class="form-control" id="category-name" onfocus="focused(this)" onfocusout="defocused(this)">
                                  </div>
                                </div>
                                <div class="col-md-12" style="display:flex;justify-content: end">
                                  <button type="button" class="btn bg-gradient-secondary btn-sm" data-bs-dismiss="modal">Close</button> &nbsp;&nbsp;&nbsp;
                                  <input type="submit" value="Submit" class="btn bg-gradient-primary btn-sm" >
                                </div>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body">
              <ul class="list-group">
                <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg" th:each="category :${categories}">
                  <div class="d-flex align-items-center">
                    <div class="panel-heading" role="tab">
                      <button  class="btn btn-icon-only btn-rounded btn-outline-success mb-0 me-3 p-3 btn-sm d-flex align-items-center justify-content-center">
                        <i class="material-icons text-lg">expand_more</i>
                      </button>
                    </div>
                    <div class="d-flex flex-column">
                      <h6 class="mb-1 text-dark text-sm" th:text="${category.name}"></h6>
                      <span class="text-xs">Quantity: &nbsp;<i th:text="${category.quantity}"></i></span>
                    </div>
                  </div>
                  <div class="d-flex align-items-center text-success text-gradient text-sm font-weight-bold">
                    <span th:text="${category.total}"></span>
                  </div>
                </li>
              </ul>
              <button class="btn btn-outline-primary btn-sm mb-0" style="float: right">View All</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid py-4">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <!-- Card header -->
            <div class="card-header pb-0">
              <div class="d-lg-flex">
                <div>
                  <h5 class="mb-0">All Products</h5>
                </div>
                <div class="ms-auto my-auto mt-lg-0 mt-4">
                  <div class="ms-auto my-auto">
                    <a class="btn bg-gradient-primary btn-sm mb-0" th:href="@{/admin/product/new}">+&nbsp; New Product</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body px-0 pb-0">
                <table class="table " id="products-list">
                  <thead class="thead-light">
                    <tr>
                      <th>Product</th>
                      <th>Category</th>
                      <th>Price</th>
                      <th>barcode</th>
                      <th>Quantity</th>
                      <th>Status</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <div class="d-flex">
                          <div>
                            <img th:src="@{/img/products/product-details-1.jpg}"  class="avatar avatar-md me-3" alt="table image">
                          </div>
                          <h6 class="ms-3 my-auto">Alexander McQueen</h6>
                        </div>
                      </td>
                      <td class="text-sm">Clothing</td>
                      <td class="text-sm">1199</td>
                      <td class="text-sm">00121399</td>
                      <td class="text-sm">51293</td>
                      <td>
                        <span class="badge badge-success badge-sm">in Stock</span>
                      </td>
                      <td class="text-sm">
                        <a href="javascript:;" data-bs-toggle="tooltip" data-bs-original-title="Preview product">
                          <i class="material-icons text-secondary position-relative text-lg">visibility</i>
                        </a>
                        <a href="javascript:;" class="mx-3" data-bs-toggle="tooltip" data-bs-original-title="Edit product">
                          <i class="material-icons text-secondary position-relative text-lg">drive_file_rename_outline</i>
                        </a>
                        <a href="javascript:;" data-bs-toggle="tooltip" data-bs-original-title="Delete product">
                          <i class="material-icons text-secondary position-relative text-lg">delete</i>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <th>Product</th>
                      <th>Category</th>
                      <th>Price</th>
                      <th>Barcode</th>
                      <th>Quantity</th>
                      <th>Status</th>
                      <th>Action</th>
                    </tr>
                  </tfoot>
                </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <div class="position-fixed bottom-1 end-1 z-index-2">
    <div class="toast fade hide p-2 mt-2 bg-gradient-success" role="alert" aria-live="assertive" id="successToast" aria-atomic="true">
      <div class="toast-header bg-transparent border-0">
        <i class="material-icons text-white me-2">
          check_circle
        </i>
        <span class="me-auto text-white font-weight-bold">Success</span>
        <i class="fas fa-times text-md text-white ms-3 cursor-pointer" data-bs-dismiss="toast" aria-label="Close"></i>
      </div>
      <hr class="horizontal light m-0">
      <div class="toast-body text-white" id="success-toast-message">

      </div>
    </div>
    <div class="toast fade hide p-2 mt-2 bg-gradient-danger" role="alert" aria-live="assertive" id="errorToast" aria-atomic="true">
      <div class="toast-header bg-transparent border-0">
        <i class="material-icons text-white me-2">
          error
        </i>
        <span class="me-auto text-white font-weight-bold">Error</span>

        <i class="fas fa-times text-md text-white ms-3 cursor-pointer" data-bs-dismiss="toast" aria-label="Close"></i>
      </div>
      <hr class="horizontal light m-0">
      <div class="toast-body text-white" id="error-toast-message">

      </div>
    </div>
  </div>

  <div class="fixed-plugin">
    <a class="fixed-plugin-button text-danger position-fixed px-3 py-2" data-bs-toggle="tooltip" data-bs-placement="top" title="CLOSE KEYBOARD"  style="display:none;" id="close-key-board-btn">
      <i class="material-icons py-2">close</i>
    </a>
  </div>
  <!--   Core JS Files   -->
  <script th:src="@{/js/core/popper.min.js}"></script>
  <script th:src="@{/webjars/bootstrap/5.1.1/js/bootstrap.js}"></script>
  <script th:src="@{/webjars/jquery/3.6.0/jquery.js}"></script>
  <script th:src="@{/js/plugins/perfect-scrollbar.min.js}"></script>
  <script th:src="@{/js/plugins/smooth-scrollbar.min.js}"></script>
  <script th:src="@{/js/plugins/choices.min.js}"></script>
  <script th:src="@{/webjars/datatables/1.11.4/js/jquery.dataTables.js}"></script>
  <script th:src="@{/js/material-dashboard.min.js}"></script>
  <script th:src="@{/js/plugins/keyboard.js}"></script>
  <script th:src="@{/js/plugins/chartjs.min.js}"></script>
  <script th:inline="javascript">
    var products = [[${products}]];
  </script>
  <script>
  function successNotify(message){
    document.getElementById('success-toast-message').innerText = message;
    $('#successToast').toast('show');
  }
  function errorNotify(message){
    document.getElementById('error-toast-message').innerText = message;
    $('#errorToast').toast('show');
  }
</script>
  <script>
    if (document.getElementById('products-list')) {
      // const productsdataTable = new simpleDatatables.DataTable("#products-list", {
      //   searchable: true,
      //   fixedHeight: false,
      //   perPage: 7,
      //   columnDefs: [
      //     { className: "td-actions text-right", "targets": [ 1 ] },
      //     { className: "td-actions text-right", "targets": [ 2 ] },
      //     { className: "td-actions text-right", "targets": [ 3] },
      //     { className: "td-actions text-right", "targets": [ 4 ] },
      //     { className: "td-actions text-right", "targets": [ 5 ] }
      //   ]
      // });
      $('products-list').DataTable({
        "sDom": 'lrtip',
        "lengthMenu": [ [-1, 500, 200,100, 50], ["All", 500, 200, 100, 50] ],
        "columnDefs": [
          { className: "text-sm", "targets": [ 1 ] },
          { className: "text-sm", "targets": [ 2 ] },
          { className: "text-sm", "targets": [ 3] },
          { className: "text-sm", "targets": [ 4 ] },
          { className: "text-sm", "targets": [ 5 ] }
        ]
      });
      var productsdataTable = $('#products-list').DataTable();

      document.querySelectorAll(".export").forEach(function(el) {
        el.addEventListener("click", function(e) {
          var type = el.dataset.type;
          var data = {
            type: type,
            filename: "material-" + type,
          };
          if (type === "csv") {
            data.columnDelimiter = "|";
          }
          productsdataTable.export(data);
        });
      });
      for(let product of products){
        let status;
        if(product.status.toLowerCase() ==="in stock"){
          status = `<span class="badge badge-success badge-sm">in Stock</span>`;
        }
        else if(product.status.toLowerCase() ==="below minimum"){ status=`<span class="badge badge-warning badge-sm">Out Of Stock</span>`;}
        else{status = `<span class="badge badge-danger badge-sm">Below Minimun</span>`;}
        productsdataTable.row.add([
          `<div class="d-flex">
            <div>
              <img src="/products-upload/${product.mainImage.name}" class="avatar avatar-md me-3" alt="table image">
            </div>
            <h6 class="ms-3 my-auto">${product.name}</h6>
          </div>`,
          `<div class="text-sm"> ${product.category}</div>`,
          `<div class="text-sm"> ${product.price}</div>`,
          `<div class="text-sm"> ${product.barCodeSerial}</div>`,
          `<div class="text-sm"> ${product.quantity}</div>`,
          status,
          '<td class="text-sm"><a href="javascript:;" data-bs-toggle="tooltip" data-bs-original-title="Preview product"><i class="material-icons text-secondary position-relative text-lg">visibility</i></a><a href="javascript:;" class="mx-3" data-bs-toggle="tooltip" data-bs-original-title="Edit product"><i class="material-icons text-secondary position-relative text-lg">drive_file_rename_outline</i></a><a href="javascript:;" data-bs-toggle="tooltip" data-bs-original-title="Delete product"><i class="material-icons text-secondary position-relative text-lg">delete</i></a></td>'
        ]).draw();
      }
    };

  </script>
  <!-- Kanban scripts -->
  <script th:src="@{/js/plugins/dragula/dragula.min.js}"></script>
  <script th:src="@{/js/plugins/jkanban/jkanban.js}"></script>
  <script>
    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
      var options = {
        damping: '0.5'
      }
      Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
  </script>
<script th:inline="javascript">
  var categories = [[${categories}]];
  var products = [[${products}]];
</script>
  <script>
    var ctx4 = document.getElementById("pie-chart").getContext("2d");
    new Chart(ctx4, {
      type: "pie",
      data: {
        labels: ['Facebook', 'Direct', 'Organic', 'Referral'],
        datasets: [{
          label: "Projects",
          weight: 9,
          cutout: 0,
          tension: 0.9,
          pointRadius: 2,
          borderWidth: 2,
          backgroundColor: ['#03A9F4', '#e91e63', '#3A416F', '#a8b8d8'],
          data: [15, 20, 12, 60],
          fill: false
        }],
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
          legend: {
            display: false,
          }
        },
        interaction: {
          intersect: false,
          mode: 'index',
        },
        scales: {
          y: {
            grid: {
              drawBorder: false,
              display: false,
              drawOnChartArea: false,
              drawTicks: false,
            },
            ticks: {
              display: false
            }
          },
          x: {
            grid: {
              drawBorder: false,
              display: false,
              drawOnChartArea: false,
              drawTicks: false,
            },
            ticks: {
              display: false,
            }
          },
        },
      },
    });
  </script>
<script>
  $(document).ready(function() {

  });
  document.getElementById('add-category-form').addEventListener('submit',addCategory)

  function addCategory(e){
    e.preventDefault();
    $('#add-Category-modal').modal('hide');
    const name  = document.getElementById('category-name').value;
    document.getElementById('add-category-form').reset();
    const formData = new FormData();
    formData.append("name",name);
    fetch('/api/v1/admin/categories',{
      method: 'POST',
      body:formData
    })
    .then(function(res){
      if(!res){
        errorNotify("Something Went Wrong");
        throw new Error(res.statusText);
      }
      return res.json();
    }).then(function(category){
      successNotify("Category Added")
    });
  }

  function rotate(element){
    if (element.dataset.expand == "1"){
      element.children[0].style.display = "none";
      element.children[1].style.display = "block";
      element.dataset.expand = "0";
    }
    else if (element.dataset.expand == "0"){
      element.children[0].style.display = "block";
      element.children[1].style.display = "none";
      element.dataset.expand = "1";
    }
  }

  function generateRandomColor(){
    return "#"+(Math.floor(Math.random()*16777215).toString(16)).toString();
  }
</script>
</body>

</html>